.productsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 4rem 6rem;
  align-items: end;
  padding: 0 8rem 4rem 8rem;
  grid-auto-rows: 1fr;
}

@media screen and (max-width: 1200px) {
  .productsContainer {
    grid-gap: 4rem;
    padding: 0 6rem 4rem 6rem;
  }
}

@media screen and (max-width: 1024px) {
  .productsContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 767px) {
  .productsContainer {
    grid-template-columns: 1fr;
    padding: 0 2rem 4rem 2rem;
    grid-gap: 1rem;
  }
}
